image:
  repository: mysql
  tag: "8.0"
  pullPolicy: IfNotPresent

auth:
  rootPassword: "rootpass123"   # overridden by Terraform
  user: "kaizen"                # overridden by Terraform
  password: "Hello123!"         # overridden by Terraform
  database: "hello"             # overridden by Terraform

service:
  port: 3306

persistence:
  enabled: true
  accessModes: ["ReadWriteOnce"]
  size: 8Gi
  storageClassName: ""          # leave empty to use default storage class

resources:
  requests:
    cpu: 200m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi
