apiVersion: v1
kind: Service
metadata:
  name: mysql
  labels:
    app: mysql
spec:
  # Headless service for stable DNS to pods: mysql.apps.svc.cluster.local
  clusterIP: None
  selector:
    app: mysql
  ports:
  - name: mysql
    port: {{ .Values.service.port }}
    targetPort: {{ .Values.service.port }}
