name: mysql-ci
on:
  push:
    branches: [ "main" ]
    paths:
      - "app-mysql/helm-sql/**"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: azure/setup-helm@v4
      - name: Helm lint
        run: helm lint app-mysql/helm-sql
